<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


	<http auto-config="true">
		<!-- intercept-url pattern="/welcome*" access="ROLE_DEPARTMENT_MGR,ROLE_REGULAR_EMP,ROLE_GUEST_USR,ROLE_CORPORATE_MGR" 
			/> <intercept-url pattern="/admin*" access="ROLE_ADMIN" / -->
		<custom-filter ref="captchaCaptureFilter" before="FORM_LOGIN_FILTER" />
		<custom-filter ref="captchaVerifierFilter" after="FORM_LOGIN_FILTER" />
		<!-- <custom-filter ref="captchaVerifierFilter" after="FORM_LOGIN_FILTER"/> -->
	</http>
	<!-- For verifying CAPTCHA fields -->

	<!-- Private key is assigned by the reCATPCHA service -->

	<!-- <beans:bean id="captchaVerifierFilter" class="com.asu.edu.base.vo.CaptchaFilterVO"/> -->
	<!-- For capturing CAPTCHA fields -->
	<beans:bean id="captchaCaptureFilter" class="com.asu.edu.POJO.CaptchaCaptureFilter" />

	<!-- For verifying CAPTCHA fields -->
	<!-- Private key is assigned by the reCATPCHA service -->
	<beans:bean id="captchaVerifierFilter" class="com.asu.edu.POJO.CaptchaVerifierFilter">
		<beans:property name="useProxy" value="false"></beans:property>
		<beans:property name="proxyPort" value=""></beans:property>
		<beans:property name="proxyHost" value=""></beans:property>
		<beans:property name="captchaCaptureFilter" ref="captchaCaptureFilter"></beans:property>

		<beans:property name="privateKey"
			value="6LdIMtgSAAAAALIW_Ec3pU6m0OUBV2BMLnNOYCVD"></beans:property>
		<beans:property name="failureUrl" value="/loginfailed"></beans:property>
	</beans:bean>

</beans:beans>